<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="pADD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <pADD.Properties.Settings>
      <setting name="sysVar" serializeAs="String">
        <value>PATH</value>
      </setting>
      <setting name="specifier" serializeAs="String">
        <value>alluser</value>
      </setting>
    </pADD.Properties.Settings>
  </userSettings>
</configuration>
