<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sysVar" value="PATH" /> <!-- look in you system variables, default for windows pc is "PATH" -->
    <add key="specifier" value="alluser" /> <!-- use "user" for current user only changes or "alluser" to changes to the whole pc-->
  </appSettings>
</configuration>
